[2019-10-19 01:07] mr-smithers-excellent opened #2 "Docker tags should be lowercase only"
Docker tags should be lowercase only to support naming convention in Kubernetes namespaces and enable smooth CI/CD.

[2019-10-19 17:36] #2 closed

[2019-10-21 02:28] mr-smithers-excellent opened #4 "Output value is not set"
GitHub Action `setOutput` function should contain a name and value. Currently the value is being incorrectly set as the name with a null value.

[2019-10-21 02:37] #4 closed

[2020-01-14 19:57] arokem opened #6 "Feature request: passing in build arguments"
Thanks for creating this action!

I would like to pass not one, but multiple build arguments to the docker build step.

I am guessing you'd have to make some changes [here](https://github.com/mr-smithers-excellent/docker-build-push/blob/master/src/docker.js#L41-L50), to pass in additional arguments to this function, but not sure I dare try doing this myself. WDYT?

[2020-01-14 20:01] mr-smithers-excellent commented on #6
Hi @arokem - thanks for the feature request.

Definitely happy to give this a shot. Can you give me an example of what your `docker build` command looks like?

[2020-01-14 20:04] arokem commented on #6
Well, that was fast! 😄

Something like this: https://github.com/nipreps/dmriprep/blob/master/.circleci/config.yml#L93-L98

[2020-01-14 21:44] mr-smithers-excellent commented on #6
Got it. Would you want to add a `--cache-from` param as well?

[2020-01-14 21:47] arokem commented on #6
No - we probably want to remove that anyway.

On Tue, Jan 14, 2020 at 1:44 PM Sean Smith <notifications@github.com> wrote:

[2020-01-14 21:48] mr-smithers-excellent commented on #6
I can take a crack at this tonight - I don't foresee it being very difficult.

[2020-01-15 05:57] arokem commented on #6
I'm getting this error: https://github.com/arokem/dmriprep/commit/079a3b2729b1f51f694b2ca5798e439d563313a0/checks?check_suite_id=401335463

[2020-01-15 06:36] mr-smithers-excellent commented on #6
I'm wondering if the buffer on the child_process is getting overloaded. I've honestly never seen a Docker build take as long as this one, so that's my first inclination. Did `docker build` work on the master version of this GH Action? I'm doubting that the build-args would have caused this error, but want to be sure.

[2020-01-15 06:45] arokem commented on #6
Yeah. It's a pretty long docker build (science is hard!), but it does
work with a more explicit version of the workflow:
https://github.com/arokem/dmriprep/commit/f9c966e3934d4bfd4d9d067b83185f042d6c9c8e/checks?check_suite_id=401371812

We might have to give up on using your action anyway, because (as you can
see in that PR), we need some rather granular control of the build and
pushing. Sorry for

[2020-01-15 07:15] mr-smithers-excellent commented on #6
Looks like some pretty interesting (and meaningful) work you're tackling there!

Even if you don't end up using it, I'm now intrigued by the problem and want to solve it. I've forked that repo and am going to adjust the buffer settings to see if that's the issue.

[2020-01-15 16:55] mr-smithers-excellent commented on #6
Increasing the buffer size appears to have fixed this issue. See [this build](https://github.com/mr-smithers-excellent/dmriprep/commit/0104e2b1b9891518bf5615eb74984326e2c32c38/checks?check_suite_id=401449495).

I'll be incorporating these changes into a new release (even if you won't be using it). Let me know if there are any other feature requests. I definitely want this GH Action to be versatile

[2020-01-15 17:59] arokem commented on #6
Thank you!

[2020-01-15 17:59] #6 closed

[2020-04-02 21:29] advait opened #9 "Support github packages docker registry"
It would be great if this action could support [Github Packages docker registry](https://help.github.com/en/packages/using-github-packages-with-your-projects-ecosystem/configuring-docker-for-use-with-github-packages).

It seems Github Actions provides a `GITHUB_TOKEN` secret that has write access to the packages docker registry. It's unclear how this integrates with `docker login`, etc. Given that

[2020-04-02 22:06] mr-smithers-excellent commented on #9
Hi @advait - thank you for the feature request. Completely agree and would be happy to add support. I will do a POC in the next day or so. If there’s anything else special about your use case, please let me know in the meantime.

[2020-04-03 15:28] advait commented on #9
Thanks @mr-smithers-excellent! The docs are very sparse on this one. Here's what worked for me:

[code]

The namespace is typically your github username, the package is the github project/package name. The image-name and image-tag are arbitrary.

[2020-04-09 22:36] mr-smithers-excellent commented on #9
Hi @advait, I have a branch with GitHub Docker Registry support added. Could you give this a try and let me know how it goes?

* It is assumed you'll be pushing the image to a repo inside your GitHub organization, unless you set `githubOrg`
* Provider the image name in `github-repo-name/image-name` format
* Provide either the `github.actor` or an alternate username for Docker login
* Pass the defa

[2020-04-09 23:34] advait commented on #9
@mr-smithers-excellent this is working great [here](https://github.com/advait/rainbow-options/pull/28/checks?check_run_id=575513523&ts=2)!

Any chance we can get an option to output the docker build logs?

[2020-04-09 23:49] mr-smithers-excellent commented on #9
Docker build logs, eh? Guess those would be helpful. Shouldn't be a problem.

Pretty cool project you're working on there btw.

[2020-04-10 05:44] mr-smithers-excellent commented on #9
@advait if you want to give it one more whirl, `docker build` and `docker push` commands now pipe to stdout in the GitHub Actions console.

[2020-04-12 13:44] dardanos opened #11 "Make tag available for other steps to use"
I would like to use a slack action to notify my team about the new versions and for that, I need access to the image tag. Is there a way to get access to it?

[code]

[2020-04-12 19:39] mr-smithers-excellent commented on #11
Hi @dardanos - thanks for the suggestion. Currently this action only outputs the full image name in format `registry/owner/image:tag`. I have some changes I need to merge in and would be happy to add more outputs. I can add an output for `tag` quite easily. Let me know if there are any other outputs you'd require for your use case.

[2020-04-12 22:05] #9 closed

[2020-04-12 22:22] mr-smithers-excellent commented on #11
@dardanos - the `tag` output is now ready in the latest release (`v3`). Let me know if this meets your needs.

[2020-04-13 00:38] dardanos commented on #11
Thanks @mr-smithers-excellent for the quick reply. I will test later but feel free to close this issue if `tag` is part of the output

[2020-04-13 02:17] #11 closed

[2020-04-15 12:48] dardanos opened #13 "Support pull_request events"
The plugin works well for branch builds and tags but it doesn't support pull requests so it's hard to know if changes once applied to a branch will work.

You can see the limitation here:
https://github.com/mr-smithers-excellent/docker-build-push/blob/master/src/docker.js#L42:L46

During a PR there is a `GITHUB_REF` which has the value `refs/pull/:prNumber/merge`.
That can be used to create a tag:

[2020-04-15 16:18] mr-smithers-excellent commented on #13
For this use case, I would typically use the Docker image from the source branch to test any changes. For instance, if I'm working on branch called `new-feature` and have submitted a pull request, I would test the most recent Docker image labeled `owner/image-name:new-feature-[latest-git-sha]`. The reason I'm not including builds on PRs is because this would be redundant. The PR would also point t

[2020-04-16 00:42] dardanos commented on #13
That's a fair point. Thanks, for the explanation

[2020-04-16 23:36] #13 closed

[2020-04-17 11:42] eevers-avisi opened #14 "Feature request: Change path of build command"
Is it possible to add an option for changing the PATH used in the Docker build command?

As far I can see it is now only possible to achieve something like this:
docker build -f otherPath/Dockerfile -t image:latest .

What I would like to achieve is this:
docker build -f  otherPath/Dockerfile -t image:latest otherPath

[2020-04-17 11:58] eevers-avisi commented on #14
I just saw your reaction on the following PR: https://github.com/mr-smithers-excellent/docker-build-push/pull/8

You said that by setting the working directory you should also achieve this. I did also try to do that before creating this issue. Unfortunately this didn't work.
![image](https://user-images.githubusercontent.com/62014922/79566800-7180f700-80b3-11ea-9e67-a0797652f2e8.png)

[2020-04-17 16:55] mr-smithers-excellent commented on #14
Hi @eevers-avisi - thanks for the feedback.  Upon further research, it looks like you can't use `working-directory` in conjunction with `uses`, only with `run`.  So I'll need to make some changes to get this working.  Would something like this fit your use case?

[code]

[2020-04-17 17:12] eevers-avisi commented on #14
@mr-smithers-excellent Yes, your example would fit my use case

[2020-04-17 23:58] mr-smithers-excellent commented on #14
@eevers-avisi - I've been able to get this working on a branch with a new optional `directory` input. Can you give the below example a try and let me know if it works for your purposes? Note that if a standard `Dockerfile` already exists in the working directory, you won't have to specify it.

[code]

[2020-04-18 17:09] eevers-avisi commented on #14
I tried to use your example and fit in into our project. Unfortunately it still doesn't work for me. I did specify the directory containing the Dockerfile and other needed files with the new directory input. Also I did have to specify the Dockerfile because it took the Dockerfile in the root of our project if I didn't. It seems that the COPY steps in the Dockerfile are still trying to fetch the fi

[2020-04-18 17:50] mr-smithers-excellent commented on #14
Can you give me an overview of what your project structure looks like?

[2020-04-18 21:09] mr-smithers-excellent commented on #14
@eevers-avisi - I've updated the branch to use the `directory` input directly in the `docker build` command instead of using `cd`. For instance, if you pass `working-dir` and `Dockerfile.root`, it will now produce a build command that looks like:
[code]

Can you give this another try and let me know? If it doesn't work, if you could let me know the project structure you're working with, I can try

[2020-04-19 11:20] eevers-avisi commented on #14
@mr-smithers-excellent It's working correctly right now!

If still needed for further optimising this enhancement, this is the structure of our project. The goals is to build a Docker image using the `Dockerfile.subdir` (and other files) inside `subdirectory`. Which is succesfully working with the latest version in `@add-build-dir`:
[code]

[2020-04-19 18:36] mr-smithers-excellent commented on #14
@eevers-avisi - great news! This has been merged in. Make sure you're using `v3` of this action in your workflow yaml.

FYI @techpool - working directory support has been officially added in `v3`.

[2020-04-30 22:52] #14 closed

[2020-05-16 12:49] adamgins opened #18 "Second push fails with ` requested access to the resource is denied`"
Thanks fo this package, nice to find one that works with Windows, the others seem to be linux bound.

Issue: when the first build & push happens all is OK, on subsequent builds it fails with:

The workflow is:

[code]

Any help appreciated.

[2020-05-16 19:14] mr-smithers-excellent commented on #18
Hi @adamgins - thanks for the feedback here.  Happy to look into this deeper.  Can you provide some details about what your `Dockerfile` looks like or even just the base image so I can reproduce?

[2020-05-16 19:38] mr-smithers-excellent commented on #18
Using a simple "hello world" `Dockerfile` I'm not able to replicate this yet:

[code]

According to t[his StackOverflow issue](https://stackoverflow.com/questions/41984399/denied-requested-access-to-the-resource-is-denied-docker), your issue may be related to the `docker login` operation.

[2020-05-16 22:50] adamgins commented on #18
Thanks @mr-smithers-excellent
I added you to a private repo we run the docker file in the `bundle` directory
Weird that is succeeds with the push the first time to a new docker image and then fails the second time.

[2020-05-18 05:56] adamgins commented on #18
@mr-smithers-excellent FYI I did find this long issue https://github.com/docker/hub-feedback/issues/1222

[2020-05-18 18:10] mr-smithers-excellent commented on #18
@adamgins - this is helpful. Looking into this more today.

[2020-05-18 18:39] mr-smithers-excellent commented on #18
@adamgins - think I found your issue.

**Successful Build Image**
`buzzybuzz/buzzy-main-windows-nano1809:latest`

**Failed Build Image**
`buzzybuzz/buzzy-main-windows:nano1809`

I'm guessing the name of the Docker repo should be `buzzy-main-windows-nano1809`?  Does the repo `buzzybuzz/buzzy-main-windows` exist?

[2020-05-18 20:55] adamgins commented on #18
@mr-smithers-excellent thanks. I think that issue was just an example where we changed the image name to a new name `buzzybuzz/buzzy-main-windows-nano1809:latest` and it worked the first time. Both those images existed on docker.io

The weird thing is I got it to work on `buzzybuzz/buzzy-main-windows` by deleting the repo and then re-running, it worked both first and second time.

The only other t

[2020-05-18 21:53] mr-smithers-excellent commented on #18
Let me know if the issue creeps up again. I'll be no the lookout for similar problems. Closing this for now. Thanks!

[2020-05-18 21:53] #18 closed

[2020-05-18 23:11] adamgins commented on #18
Thanks @mr-smithers-excellent

[2020-05-19 18:12] mr-smithers-excellent opened #19 "ECR login error on Windows runner"
The ECR login command is causing an error on Windows platform runners, resulting in the following message:

[code]

Logic will need to be added to handle this login command via PowerShell.

[2020-05-19 19:51] #19 closed

[2020-06-17 09:53] belon opened #21 "Add working-directory input variable"
All commands in action should be relative to `working-directory` unless absolute path is specified for `dockerfile` or `directory`.
### Example repository structure
[code]
### Example action configuration for app1 without working-directory
[code]
### Example action configuration for app1 with working-directory
[code]

[2020-06-19 07:27] belon opened #22 "Ability to push multiple tags"
## New feature
Would be great to support multiple tags.

### Use case
When release new version we always push two tags:
- ${{ GITHUB.SHA }}
- latest

[2020-06-19 12:46] belon commented on #22
I forked you repository and added this feature. Here it is https://github.com/belon/docker-build-push. Commits:
- https://github.com/belon/docker-build-push/commit/697bcf5e2e2af562cf78c23ede4d9554c4443251
- https://github.com/belon/docker-build-push/commit/153acf878752b0df2492c269559e016f1de0b875

I released version `v4.0` with support for multiple tags. The only difference is in configuration use

[2020-06-23 05:51] mr-smithers-excellent commented on #22
Hi @belon - thanks for the contribution. If you'd like to submit an official PR, I can take a look at the code.  If we merge in the feature, I would handle creating the new `v4` release post-merge.

[2020-06-23 06:01] mr-smithers-excellent commented on #21
Hi @belon a very similar issue was discussed and implemented in #15. For your use case above, can you try this?

[code]

[2020-06-23 20:09] belon commented on #22
Hi @mr-smithers-excellent I will create a PR.

[2020-06-23 20:12] belon commented on #21
@Hi @mr-smithers-excellent yes this works well and I use it as a workaround. Adding `working-directory` would be a bit cleaner.

[2020-06-23 21:02] #21 closed

[2020-07-13 05:07] junpark12 opened #23 "Image Build Fail"
Hi I received an error when i tried to build image.
I have 3 .net core project in visual studio.
Here's my project hierarchy.

-root
 -- apptest
 -- testProject
 -- APIProject

I'd like to build container an image using apptest project only.
Here's part of my github action.
i've already build and published my project on previous Job.

Build-And-Pubh-Docker-Iamge:
    runs-on: windows-latest
    ne

[2020-07-17 01:58] mr-smithers-excellent commented on #23
Hi @junpark12 - can you download the GitHub Action build logs for this job and provide to me here?

[2020-08-15 09:30] rsarkar29 opened #26 "Dockerfile unable to detect by CI"
Even Dockerfile is there in my root directory still showing error
Repo Url :- https://github.com/rsarkar29/action
Getting below error

Run mr-smithers-excellent/docker-build-push@v4
Creating Docker image tag...
Docker tag created: master-f8f99b8
Docker image name created: docker.io/***/drupal:master-f8f99b8
Logging into Docker registry docker.io...
WARNING! Your password will be stored unencrypted

[2020-08-15 16:13] mr-smithers-excellent commented on #26
Looks like you were able to resolve with the official Docker action. Closing.

[2020-08-15 16:13] #26 closed

[2020-08-15 16:14] #23 closed

[2020-08-15 16:15] mr-smithers-excellent commented on #22
Feel free to raise another issue if you’d like to provide a PR. Closing.

[2020-08-15 16:15] #22 closed

[2020-10-06 08:20] JohannesHoffmann commented on #22
@belon i want to see this feature too! Could you please open a new issue and append your changes in a PR? Would really appreciate this 👍

[2020-10-28 23:34] asarazan commented on #22
I would also find this incredibly valuable

[2020-11-05 15:14] aztecrabbit opened #31 "Insecure Registry Support"
Add option to push to insecure registry

[2020-11-14 17:39] mr-smithers-excellent commented on #31
Hi @aztecrabbit - thanks for the feedback. Can you provide an example of how you currently authenticate with an insecure registry?

[2020-11-16 09:45] aztecrabbit commented on #31
Registry auth is using htpasswd, my server is not using ssl (http only). In my device i enable insecure registry by creating `/etc/docker/daemon.json`, inside that file is like this

[code]

[2020-11-17 18:10] jheckman-rt opened #32 "Update for multiple docker tags broke existing functionality"
The newest release seems to have broken the ability to build tag based on latest release version - my script hasn't changed but now it fails to build the tag for the docker container.

CURRENT OUTPUT:
Run mr-smithers-excellent/docker-build-push@master
  with:
    image: props
    registry: ***.dkr.ecr.us-east-2.amazonaws.com
    dockerfile: Dockerfile
  env:
    AWS_DEFAULT_REGION: us-east-2
    A

[2020-11-17 18:14] mr-smithers-excellent commented on #32
@jheckman-rt - you'll need to point to the specific release you're using instead of the master branch. That should quickly resolve your issue.

Change `uses: mr-smithers-excellent/docker-build-push@master` to `uses: mr-smithers-excellent/docker-build-push@v4`

[2020-11-17 18:19] jheckman-rt commented on #32
I will try that!  Thank you so much!

[2020-11-29 23:22] #32 closed

[2020-11-30 18:45] paretje commented on #32
According to the docs of v5, this should work though:

As this issue was closed, does this mean the feature will be dropped from future versions?

[2020-11-30 19:47] paretje opened #34 "branch tags"
The algorithm to determine the docker tag for a git branch currently is:
[code]

So given the example of git branches with a `feature` prefix, all branches will get very similar docker tags. Wouldn't it be more useful to use a more specific part of the branch name? Or to e.g. replace slashes with dashes?

[2020-12-01 00:58] mr-smithers-excellent commented on #32
@paretje - thanks for catching this. Definitely still supporting the auto-tagging feature. Appreciate the PR, will review and comment back there.

[2020-12-01 01:19] mr-smithers-excellent commented on #31
@aztecrabbit - I've decided not to support insecure registries, but I don't want to leave you empty-handed here. Looks like you can achieve this with the new Docker [build-push-action](https://github.com/docker/build-push-action).

[2020-12-01 01:19] #31 closed

[2020-12-01 01:29] mr-smithers-excellent commented on #34
Hi @paretje - thanks for the feedback. This is admittedly a difficult problem to design an algorithm around due to the numerous branch-naming strategies people use. You could always choose to override with your own tag name with the `tags` input. Here's an example of the current algorithm. We are already replacing slashes with dashes. Could you give an example of what you are proposing here?

| Tr

[2020-12-01 11:33] paretje commented on #34
Well, no, currently, the first part is used of the actual branch name:

| Trigger                  | Commit SHA | Docker Tag           |
|--------------------------|------------|----------------------|
| /refs/tags/v1.0          | N/A        | v1.0                 |
| /refs/heads/dev          | 1234567    | dev-1234567          |
| /refs/heads/master       | 1234567    | master-1234567       |
| /

[2020-12-01 21:03] mr-smithers-excellent commented on #34
We could certainly change around the logic to include the full Git branch name, replacing slashes with dashes. We would just need to adhere to the [128-character limit for Docker tags](https://docs.docker.com/engine/reference/commandline/tag/#extended-description).  Is this something you'd like to submit a PR for?  Would be greatly appreciated.

[2020-12-02 13:48] paretje commented on #34
I will implement this and submit a PR.

[2020-12-03 05:29] #34 closed

[2020-12-06 22:40] tomtom94 opened #36 "Can't use variable in tag"
Hello I wanna use a variable in `tag`

Something like this

[code]

It doesn't work why ?

[2020-12-07 02:45] mr-smithers-excellent commented on #36
Give this a shot and let me know if it fixes your issue.

`tag: latest-${{ env.VERSION }}`

[2020-12-07 07:56] tomtom94 commented on #36
It doesn't work

[code]

This is just because github secret appears like `***` fuck.

[2020-12-07 20:32] mr-smithers-excellent commented on #36
Why are you setting the `VERSION` variable as a secret? I'd recommend simply setting it as an environment variable. The problem you're trying to solve here isn't specific to this GitHub Action, but a general problem with how you're passing variables through your action config. I'd make sure you comb through the docs on [context and expression syntax](https://docs.github.com/en/free-pro-team@latest

[2020-12-07 20:32] #36 closed

[2020-12-07 20:38] tomtom94 commented on #36
Because I don't want the user to change the version from `latest-345` to `latest-346` everytime
And I don't want to use your module because if you make a commit you must make a git pull for the user

I must make a version upgrade everytime for Kubernetes, otherwise this dickhead of Kubernetes charts doesn't make a pull of an image it already has downloaded once. Even if you use the Kubernetes opti

[2020-12-19 06:26] tomtom94 commented on #36
Thanks for helping me bro, I just found the solution myself.

Just use `git tag`. https://github.com/marketplace/actions/git-tag-generator

I haven't ever heard about `git tag` but this will do the job

[2021-01-24 16:43] mikaeru opened #37 "Use another container registry"
Hello there

I want to do an experiment to use azure container registry service, but when I read the readme.md, it's not upon the list
of supported registries, refrence : [https://github.com/mr-smithers-excellent/docker-build-push#docker-build--push-action](https://github.com/mr-smithers-excellent/docker-build-push#docker-build--push-action).
So, I still can use this Action workflow to deploy my c

[2021-01-26 02:14] mr-smithers-excellent commented on #37
Hi @mikaeru - I have not attempted to push an image to ACR yet. Could you give it a try using this action and let me know the result? I'm happy to add support or simply documentation to clear up ACR support. Thanks!

[2021-01-26 08:30] mikaeru commented on #37
ahhh, got it! 👍

[2021-01-28 17:07] mikaeru commented on #37
Hi!

I've tried this action to push the image to my own acr, and it works. I can see my image in my acr repository and pull it.
There's no any problem and it runs like when i use it to push the image to my own github registry.

[2021-01-31 17:33] jayakrishnandingit opened #38 "Support for docker build-arg"
I see that the inputs to this action do not support build args that can be passed during the docker image build stage. Am I missing something here? If not, would it be possible to include support for it?

[2021-01-31 17:36] jayakrishnandingit commented on #38
I see that this is already asked in #6. I will read that. Closing this issue. Sorry for the inconvenience.

[2021-01-31 17:36] #38 closed

[2021-02-01 22:56] mr-smithers-excellent commented on #37
@mikaeru - that's great news!  Can you provide a snippet of your GH Actions `.yaml` file so I can add to our docs?  Would greatly appreciate it.

[2021-02-02 20:16] brian-connerton opened #39 "AWS CLI ECR command deprecation"
The AWS CLI command invoked to authenticate with an ECR repo that is used in linux execution environments has been [deprecated](https://docs.aws.amazon.com/cli/latest/reference/ecr/get-login.html):

`Error: Command failed: $(aws ecr get-login --region us-east-1 --no-include-email)`

The updated command is the same one that is currently being used for windows execution environments as seen [here](h

[2021-02-02 23:55] #39 closed

[2021-02-10 13:31] mikaeru commented on #37
ahh, i use the same configuration for github registry, but the credentials still from the azure (include the registry address). I'm sorry, I have been purge the repo and the repo was made for the test...

I hope you understand

[2021-02-10 13:31] #37 closed

[2021-02-22 20:21] marksalpeter opened #41 "Personal Docker Registry"
First, thanks for maintaining this excellent package! Its much easier to configure than `docker/build-push-action@v2` and I was able to make a ton of progress in a short amount of time with it.

That said, I can't seem to get this to work for my project. I think it has something to do with the repo belonging to my personal account. I don't want to publish to a github organizations registry. Is tha

[2021-02-23 00:45] mr-smithers-excellent commented on #41
Hi @marksalpeter - thanks for the kind words!

If I understand your use case properly, this is certainly possible.  Can you share the snippet of your workflow `.yaml` file with the Docker build config?  Does this repo live in your personal GitHub (marksalpeter)?  Is this also where you want the resulting Docker image to end up?

[2021-02-23 10:15] marksalpeter commented on #41
Hi @mr-smithers-excellent! Thanks for taking the time.

My repo lives on my personal GitHub account (marksalpeter) and, yes, I'd like the resulting image to end up on my personal account as well. Here's the cd workflow so far in its entirety:

[code]

[2021-02-25 02:27] mr-smithers-excellent commented on #41
@marksalpeter - thanks, I've finally figured this out through adding some e2e tests (forthcoming). Currently, I'm expecting the GHCR url to be `docker.pkg.github.com`, not `ghcr.io`. Can you try switching your registry param to that?

I fully realize that's what's in the docs, so I'll be ensuring that works in a new release with e2e tests this evening. Stay tuned.

[2021-02-25 05:35] github-actions[bot] opened #42 "e2e test failure"
https://github.com/mr-smithers-excellent/docker-build-push/runs/598443484

[2021-02-25 05:37] #42 closed

[2021-02-25 05:37] github-actions[bot] opened #43 "e2e test failure"
Tests failed in run:https://github.com/mr-smithers-excellent/docker-build-push/actions/runs/598448271

[2021-02-25 05:38] #43 closed

[2021-02-25 06:30] mr-smithers-excellent commented on #41
At some point since I added GitHub Docker registry support, GitHub [migrated to a new container registry](https://docs.github.com/en/packages/guides/migrating-to-github-container-registry-for-docker-images).  I've been able to patch the `v5` code to support both legacy `docker.pkg.github.com` and new `ghcr.io` images.

The key difference between the two is where your images reside.  For example:

[2021-02-25 12:55] laopaoer-wallet commented on #41
Same issue

[2021-02-25 17:06] mr-smithers-excellent commented on #41
@laopaoer-wallet - can you provide a snippet of your config?

[2021-02-25 22:40] marksalpeter commented on #41
@mr-smithers-excellent Thanks for getting to the bottom of this!

I think the new container registry pattern looks good to me. I can’t imagine needing more than one container per repo and I could easily make a parallel naming structure that would satisfy my OCD 😂.

The need for a custom key must be at least part of the reason why I wasn’t able to push before. Is that a bug on GitHub’s end? If I re

[2021-02-26 17:19] mr-smithers-excellent commented on #41
@marksalpeter no problem at all!

You are exactly correct. At the end of the day this seems to be a permissions issue with the default `GITHUB_TOKEN` they provide in Actions. I was not able to successfully push images to `ghcr.io` using this token because it lacks "create organization package" permissions. I have not been unable to find a bug report or suggestion that GitHub might change their per

[2021-02-28 22:25] ratroot92 opened #45 "Random Docker Images Tags on workflow"
every time ci cd push occurs to docker i have docker images with new random tags ....as  per commit sha i want to disable those random tags and want to push with just one tags always

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  build-java:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build and Push Docker Image
      us

[2021-02-28 22:40] mr-smithers-excellent commented on #45
Hi @ratroot92 - can you upgrade to v5 and tell me if this resolves your issue?

[2021-03-01 17:28] marksalpeter commented on #41
A quick update about the `GITHUB_TOKEN` debacle. They seem to be planning to release a patch that enables workflow token support for ghcr.io mid march according to this thread:
https://github.community/t/how-to-use-installation-access-token-in-ghcr-io-authorization/130666/13

On a side note, it would be so much better if they hosted these kinds of discussions inside of GitHub issues instead of som

[2021-03-01 17:40] mr-smithers-excellent commented on #41
Super helpful. Hard to navigate those forums - good find!

[2021-03-01 17:46] marksalpeter commented on #41
Yea, I left a comment about that on the thread actually 😂

[2021-03-01 18:23] marksalpeter commented on #41
So, I'm going to close this ticket. I think it's resolved as it can be for now. Thanks for all the help @mr-smithers-excellent  🙏

[2021-03-01 18:23] #41 closed

[2021-03-01 18:32] marksalpeter opened #46 "Feature Request: Add a parameter for the description of the package"
# Feature Request
I've noticed that many docker repos include a README associated with the release. Do you think it would be possible to add the description markdown as a parameter in this already amazing action? It might make it, dare I say, amazinger.

<img width="1440" alt="Screenshot 2021-03-01 at 19 25 21" src="https://user-images.githubusercontent.com/1033500/109541714-66189d80-7ac4-11eb-938

[2021-03-02 17:39] mr-smithers-excellent commented on #46
You again?! :-)

According to [this](https://github.community/t/container-registry-package-description/130640) that can be achieved through Docker labels applied in two possible approaches:

1. Dockerfile level
[code]
2. docker build level
[code]

If the Dockerfile approach doesn't meet your needs, I would suggest we abstract this feature request to instead add support for labels during build time

[2021-03-02 17:40] mr-smithers-excellent commented on #45
Issue will be resolved with an upgrade to v5 per [README breaking changes section](https://github.com/mr-smithers-excellent/docker-build-push#breaking-changes)

[2021-03-02 17:40] #45 closed

[2021-03-02 17:48] marksalpeter commented on #46
Yep, me again 😅

I’m using conventional commits to autogen my changelog during my cd pipeline. So initially I though it would be nice to use that changelog in the containers read me.

But maybe it’s better to have this be a more static description about the package in general? I’ll have to look at some popular project and see how they use this.

Thanks for the info about opencontainers.image.descr

[2021-03-03 14:48] ratroot92 commented on #45
i am extremely thankful for your response

[2021-03-15 15:45] kiwiidb opened #47 "AWS deprecated"
Apparently AWS deprecated the get-login command:
`Error: Command failed: $(aws ecr get-login --region eu-central-1 --no-include-email)`

[2021-03-15 15:46] #47 closed

[2021-03-15 15:46] kiwiidb commented on #47
Forgot to check latest version

[2021-04-01 20:01] muratmirgun opened #48 "my registry have auth"
How do I add the registry auth method?
[code]

[2021-04-03 22:36] #48 closed

[2021-04-13 14:41] Strange-Account opened #49 "Feature request: add option to add "latest" tag to autogenerated tags"
Hi,

I really like the auto generation of tags based on ref. But it would be nice if there was an option to also add a "latest" tag.

eg:
[code]

Trigger | Commit SHA | Docker Tag
-- | -- | --
/refs/tags/v1.0 | N/A | v1.0,latest
/refs/heads/dev | 1234567 | dev-1234567,latest
/refs/heads/master | 1234567 | master-1234567,latest
/refs/heads/SOME-feature | 1234567 | some-feature-1234567,latest

[2021-04-13 16:44] mr-smithers-excellent commented on #49
Good suggestion. This should be pretty doable.

[2021-04-20 04:51] trydalch opened #50 "Support using default environment variables for tags"
I tried using the GITHUB_RUN_NUMBER for the tag, but it just took it as a raw string.

I added a step to echo it, and it printed the number fine in the logs.

[2021-04-20 17:50] mr-smithers-excellent commented on #50
Hi @trydalch - can you provide a snippet of your workflow `.yaml` file so I can help debug?

[2021-04-26 19:25] #50 closed

[2021-05-09 09:28] art-cg opened #51 "Argument --target"
Hello,

ist there a way to specify the "--target"?
https://docs.docker.com/develop/develop-images/multistage-build/#stop-at-a-specific-build-stage

Example:
docker build -t gcr.io/test-api-platform/php:latest api --target api_platform_php

Can you built that option in your action?
https://docs.docker.com/engine/reference/commandline/build/#options

[2021-05-10 16:56] mr-smithers-excellent commented on #51
Hi @art-cg - currently this feature is not available, but we can raise a feature request and get it incorporated.  Right now we're only supporting `--build-arg` from Docker build options.

[2021-05-26 04:31] socheatsok78 commented on #49
Should we tag the `/refs/heads/dev` as `latest`?

[2021-05-28 05:23] mr-smithers-excellent commented on #49
@socheatsok78 - the intent of the proposed `addLatest` param would add the `latest` tag to any auto-generated tag. An auto-generated tag occurs when you don't supply one using the `tags` param.

So if you committed SHA `1234567` to a `dev` branch, it would push tags `dev-1234567` and `latest` to your Docker repository. Does that make sense?

[2021-05-31 15:24] rajeshmylsamy commented on #49
Yes. It makes sense. I do looking for the same feature.  Need option to tag "latest" for docker image.   So container can be executed with command "docker run  <IMAGE_NAME>:latest

[2021-06-02 10:17] socheatsok78 commented on #49
Just my thought, since it can `latest` can be either `stable` or `unstable` based on the event that triggered the build. But I really have no objection.

[2021-06-02 17:35] mr-smithers-excellent commented on #49
@Strange-Account @rajeshmylsamy @socheatsok78 - I'll get this enhancement prioritized this week.

[2021-06-03 09:18] rajeshmylsamy commented on #49
Thanks you.

On Wed, Jun 2, 2021 at 11:05 PM Sean Smith ***@***.***> wrote:

[2021-06-03 16:09] github-actions[bot] opened #53 "e2e test failure"
Tests failed in run https://github.com/mr-smithers-excellent/docker-build-push/actions/runs/903488567

[2021-06-03 16:28] mr-smithers-excellent commented on #53
Permissions issue fixed

[2021-06-03 16:28] #53 closed

[2021-06-03 20:29] mr-smithers-excellent commented on #49
@Strange-Account @rajeshmylsamy @socheatsok78 this will be merged into master shortly. There are no breaking changes, so I'll be cutting a new `v5.x` release later today.

[2021-06-03 20:29] #49 closed

[2021-06-03 23:51] github-actions[bot] opened #56 "e2e test failure"
Tests failed in run https://github.com/mr-smithers-excellent/docker-build-push/actions/runs/904582359

[2021-06-03 23:51] github-actions[bot] opened #57 "e2e test failure"
Tests failed in run https://github.com/mr-smithers-excellent/docker-build-push/actions/runs/904582359

[2021-06-03 23:51] github-actions[bot] opened #58 "e2e test failure"
Tests failed in run https://github.com/mr-smithers-excellent/docker-build-push/actions/runs/904582359

[2021-06-03 23:51] github-actions[bot] opened #59 "e2e test failure"
Tests failed in run https://github.com/mr-smithers-excellent/docker-build-push/actions/runs/904582359

[2021-06-03 23:51] github-actions[bot] opened #60 "e2e test failure"
Tests failed in run https://github.com/mr-smithers-excellent/docker-build-push/actions/runs/904582359

[2021-06-03 23:51] github-actions[bot] opened #61 "e2e test failure"
Tests failed in run https://github.com/mr-smithers-excellent/docker-build-push/actions/runs/904583328

[2021-06-03 23:51] github-actions[bot] opened #62 "e2e test failure"
Tests failed in run https://github.com/mr-smithers-excellent/docker-build-push/actions/runs/904583328

[2021-06-03 23:51] github-actions[bot] opened #63 "e2e test failure"
Tests failed in run https://github.com/mr-smithers-excellent/docker-build-push/actions/runs/904583328

[2021-06-03 23:51] github-actions[bot] opened #64 "e2e test failure"
Tests failed in run https://github.com/mr-smithers-excellent/docker-build-push/actions/runs/904583328

[2021-06-03 23:51] github-actions[bot] opened #65 "e2e test failure"
Tests failed in run https://github.com/mr-smithers-excellent/docker-build-push/actions/runs/904583328

[2021-06-03 23:53] #56 closed

[2021-06-03 23:53] #57 closed

[2021-06-03 23:53] #58 closed

[2021-06-03 23:53] #59 closed

[2021-06-03 23:53] #60 closed

[2021-06-03 23:53] #61 closed

[2021-06-03 23:53] #62 closed

[2021-06-03 23:53] #63 closed

[2021-06-03 23:53] #64 closed

[2021-06-03 23:53] #65 closed

[2021-06-04 01:15] #46 closed

[2021-06-04 04:26] mr-smithers-excellent commented on #51
@art-cg - this feature will be pushed to master shortly and available in release tags `v5` and `v5.5`

[2021-06-04 04:28] #51 closed

[2021-06-04 06:30] art-cg commented on #51
Thank you

[2021-06-04 19:16] OneCricketeer opened #67 "feature request: regex tag pattern"
Rather than providing a list of tag names, would it be possible to include & exclude certain git refs / tags using a regex?

[2021-06-04 19:24] OneCricketeer commented on #67
e.g.

[code]

[2021-06-08 21:36] mr-smithers-excellent commented on #67
Hi @OneCricketeer - thanks for the suggestion. Can you talk a bit more about the use case here?

[2021-06-09 00:37] OneCricketeer commented on #67
Well, say we want to push all tags that match a certain pattern rather than hardcode and continually update that list?

[2021-06-12 16:27] mr-smithers-excellent commented on #67
This is a bit of an atypical use case. For now, I'd suggest you apply any regex logic in a preceding step, generating your tags as an environment variable to be applied via the `tags` input of this action.

[2021-06-12 16:27] #67 closed

[2021-07-26 08:09] github-actions[bot] opened #68 "e2e test failure"
Tests failed in run https://github.com/mr-smithers-excellent/docker-build-push/actions/runs/1066653603

[2021-07-26 18:13] mr-smithers-excellent commented on #68
This was caused by a one-off HTTP error.

[2021-07-26 18:13] #68 closed

[2021-08-09 08:10] github-actions[bot] opened #69 "e2e test failure"
Tests failed in run https://github.com/mr-smithers-excellent/docker-build-push/actions/runs/1112073746

[2021-08-09 16:55] mr-smithers-excellent commented on #69
One off issue with GH endpoint

[2021-08-09 16:55] #69 closed

[2021-08-27 18:53] mr-smithers-excellent opened #70 "Add support for Docker image timestamp suffix"
The [latest version of Flux CD](https://fluxcd.io/docs/migration/flux-v1-automation-migration/) requires a timestamp to be suffixed to Docker images for automated deployments. Add an optional input for including a timestamp to Docker image tags.

[2021-09-01 23:34] #70 closed

[2021-09-01 23:35] github-actions[bot] opened #72 "e2e test failure"
Tests failed in run https://github.com/mr-smithers-excellent/docker-build-push/actions/runs/1192194585

[2021-09-01 23:43] mr-smithers-excellent commented on #72
Docker http error

[2021-09-01 23:43] #72 closed

[2021-09-28 19:36] WilfredDube opened #73 "Layer caching"
Is there a method of caching layers created during the building of a Dockerfile so that the workflow doesn't start from the start all the time (for some builds it takes more than an hour at a time)? Any recommendations?

[2021-09-29 08:33] nihil-pro opened #74 "Requested access to the resource is denied"
Hi
I try to push an image to my private dockerhub calls "nihilpro/repo" but get a error:
Requested access to the resource is denied
[code]

But if i try to login from my machine with this credentials everything is ok.

[2021-10-01 23:10] mr-smithers-excellent commented on #74
Are you sure you're using a Docker username/password with push permissions to that repo?

[2021-10-01 23:20] mr-smithers-excellent commented on #73
Hi @WilfredDube - caching is a tricky topic in the ephemeral ecosystem that is GitHub Actions. Short answer, caching is outside the scope of this repository and you'll need to utilize additional steps in your workflow to make this happen. This is why GitHub actions put out an action for caching - [actions/cache](https://github.com/actions/cache)

After some quick Googling, this seems to be a sane

[2021-10-01 23:20] #73 closed

[2021-10-04 00:49] mr-smithers-excellent commented on #74
@nihil-pro - it's clear this is a permissions issue with your credentials, not with this action.

[2021-10-04 00:49] #74 closed

[2021-12-08 13:51] Udomomo opened #75 "Feature request: Use IAM role to push image to ECR"
GitHub Actions workflow now accepts IAM role to interact with AWS with OpenID Connect. I'm replacing my `AWS_ACCESS_KEY_ID` with IAM role to make my workflow more secure.
Currently `docker-build-push` action only accepts `AWS_ACCESS_KEY_ID` for authentication, so I'm glad if I can use it with IAM role.
https://docs.github.com/en/actions/deployment/security-hardening-your-deployments/configuring-op

[2021-12-21 23:14] benrowe-chuffed opened #76 "Cache docker build"
Every time I run this action the build doesn't utilise the build cache, resulting in a large build time for the relative amount of change made to the docker file.

Does this action support any form of caching, or can I utilise the `actions/cache` action to persist the build cache?

[2021-12-21 23:40] #76 closed

[2021-12-27 08:07] github-actions[bot] opened #77 "e2e test failure"
Tests failed in run https://github.com/mr-smithers-excellent/docker-build-push/actions/runs/1626284711

[2021-12-27 18:41] mr-smithers-excellent commented on #77
Temporary SSL issue resolved

[2021-12-27 18:41] #77 closed

[2022-01-21 07:49] kumarsaroj18 opened #78 "[ISSUE] Dockerfile does not exist in location Dockerfile"
Here is the example [Failed Workflow](https://github.com/kumarsaroj18/docker-learning-react/runs/4893277884?check_suite_focus=true), which fails when we use this action.
After debugging the source code, I found one issue with the code, where the error is thrown for non-availability of Dockerfile without looking into buildDir

  const dockerfile = core.getInput('dockerfile');
  const buildDir = cor

[2022-01-24 23:15] mr-smithers-excellent commented on #78
If you're using the default `Dockerfile` at project root, try removing this line from `test-and-publish.yaml`

[code]

It looks like you're using a different Dockerfile earlier in your workflow, if you want to use an alternate, try changing to:

[code]

[2022-02-02 18:54] #78 closed

[2022-03-03 08:10] github-actions[bot] opened #80 "e2e test failure"
Tests failed in run https://github.com/mr-smithers-excellent/docker-build-push/actions/runs/1926822988

[2022-03-03 18:14] mr-smithers-excellent commented on #80
Temporary HTTP issue resolved

[2022-03-03 18:14] #80 closed

[2022-03-05 05:07] jbouse commented on #75
I could be mistaken, so @mr-smithers-excellent  will have to correct me if my observations are incorrect, but the way the action is written does not have any specific requirement on the AWS authentication method used. It is simply making the AWS CLI call to `ecr get-login-password` using the environment variables provided. I have not tested, but I believe you could simply add the following early e

[2022-03-09 14:40] erzz opened #81 "add buildkit support?"
Awesome action all around! Just missing one thing and thats buildkit?

as an example of an everyday Docker command not supported by the action currently:

[code]

Then we can have lean and mean dockerfiles that likely can be relied on to build with the action as well as locally?

[2022-03-10 10:08] simonmcnair commented on #74
For anyone who views this in future it's worth noting that you must state the environment that the secret is associated with as you can have different secrets for different environments:
    runs-on: ubuntu-latest
    environment: production

[2022-03-10 10:12] simonmcnair opened #82 "documentation enhancement request"
Thanks for putting this together.  Please can you add to the documentation that secrets change per environment and that the environment must be tagged for the secrets to apply.  It took me about 3 hours to figure this out.  My mistake, but could save people frustration:

    runs-on: ubuntu-latest
    environment: production

![image](https://user-images.githubusercontent.com/101189766/157640013-9

[2022-03-10 21:07] SimonMcN commented on #82
Thank you for your understanding and appreciation of my issue.  Thanks for your great work, documentation, addressing these kinds of issue and patience.  Your gift to the community and myself is appreciated.

[2022-03-10 22:28] mr-smithers-excellent opened #83 "Tests can't access secrets from new contributor PRs"
All tests are currently failing when run against a PR from a new contributor. This is due to an [access restriction](https://docs.github.com/en/actions/security-guides/security-hardening-for-github-actions#accessing-secrets) for GitHub Action secrets.

To resolve, utilize [ok-to-test](https://github.com/imjohnbo/ok-to-test) in the workflow.

[2022-03-10 22:31] mr-smithers-excellent commented on #81
Hi @erzz - thanks for the kind words and enhancement request. I have to admit I have not yet kicked the tires with buildkits yet. It looks like to enable them you must set an environment variable `DOCKER_BUILDKIT=1`. If that's the case, are you thinking this should be a workflow input that defaults to `false`?

[2022-03-10 22:36] mr-smithers-excellent commented on #75
@jbouse - I believe this _should_ be the case, but have not tested it personally. If it does not work, I'd certainly consider it to be a bug with this workflow and could mitigate.

@Udomomo - can you try the approach detailed above and see if you're able to push to your ECR with the IAM role setup in the previous step?

[2022-03-12 23:45] mr-smithers-excellent commented on #83
This is now working thanks to help from @imjohnbo and his [ok-to-test](https://github.com/imjohnbo/ok-to-test) repo

[2022-03-12 23:45] #83 closed

[2022-03-13 20:25] mr-smithers-excellent commented on #75
After a bit more research, it looks like you will additionally need a [web identity token file](https://github.com/aws-actions/configure-aws-credentials/blob/master/action.yml#L37) to authenticate. So the resulting prerequisite action would look something like this:

[code]

@Udomomo - is this the approach you are targeting?

[2022-03-13 20:54] mr-smithers-excellent commented on #82
@simonmcnair - just to make sure I have this straight. Was your solution to simply store the `DOCKER_PASSWORD` and `DOCKER_USERNAME` as environment secrets (vs repository secrets)? Essentially you need to make sure these secrets exist in each environment you are running in your workflows (dev, staging, etc) because these environments can't access repository-level secrets?

[2022-03-13 23:26] jbouse commented on #75
I use Github OIDC to authenticate with AWS and do not include the `web-identity-token-file` option. The example I gave above was from my own configuration minus the optional session length. The `web-identity-token-file` would most likely need to be used if not attempting to use Github OIDC.

I use the following:

[code]

I use the `env.` prefix rather than `secrets.` because I have an earlier stag

[2022-03-14 10:27] simonmcnair commented on #82
hi @mr-smithers-excellent .  No.  I used action secrets.  My issue was that when you create a secret github, without telling you, assigns it to 'production' environment.  This means that you are REQUIRED to add the line '    environment: production' to you github action.  This is due to the fact that github actions are designed for use in multiple environments (admirable) but nowhere does github m

[2022-03-22 14:04] erzz commented on #81
sorry for the slow response - my notifications were trimmed a little heavily :)

Im not expert either - but from what I can tell, it removes nothing, only adds. But I guess most users would perhaps not care too much about it being enabled by defualt. So opt-in sounds good for starters at least?

[2022-03-24 22:16] mr-smithers-excellent commented on #81
@erzz no problemo! I've had similar issues alert fatigue -> too little alerts :)

I'll plan on adding an input for enabling buildkit support and report back.

[2022-04-05 05:48] BaekSeungYeol opened #95 "docker build platform option for mac m1"
Hi, I'd like to build with --platform linux/amd64 option when building dockerFile. Can you give me such a setting?
Or if I don't know, please let me know. Because I am using Mac m1, if I do not give that build option, an error appears.

[2022-04-05 23:40] SelimHorri opened #96 "Password field does not accept DOCKER_PASSWORD as env variable"
Hi,
Here defining env variables:
![env_vars_docker](https://user-images.githubusercontent.com/40203497/161866941-12d33c33-f30d-4a4c-a282-a13b040a1696.png)

problem here is when just injecting password from env, job will fail. But when injecting password from secrets, everything goes fine (as follows)
![docker_cred](https://user-images.githubusercontent.com/40203497/161868335-6e8af0fa-bc5e-415c-920

[2022-04-28 23:45] mr-smithers-excellent commented on #96
Hi @SelimHorri - its really advisable to store sensitive credentials like usernames and password within secrets. Looks like you might have a syntax issue with your `DOCKER_USERNAME` environment variable. Trying replacing with `${{ env.DOCKER_USERNAME}}`

[2022-04-28 23:49] mr-smithers-excellent commented on #95
Hi @BaekSeungYeol - are you running this action on one of the [Github-hosted mac runners](https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners) or is this a self-hosted runner? Either way, I should be able to add this optional feature/input. Let me know if this is still of interest to you. Thanks for the feature request.

[2022-04-29 08:36] SelimHorri commented on #96
Hi @mr-smithers-excellent
Yes, agreed, problem solved
Thanks for your continuous support

[2022-04-29 08:36] #96 closed

[2022-05-17 21:48] nicktackes opened #97 "Failure when the package.json has a private dependency"
I have a private dependency repo that i was forced to store in GPR in order to get github actions to successfully do an npm install from a repo that contained this private dependency.  When using the docker-build-push i seem to run into the same issue when the npm install is invoked.  The steps are straight forward in that i checkout code, setup node, authenticate GPR and then docker build push.

[2022-05-18 23:16] mr-smithers-excellent commented on #97
Hi @nicktackes - it looks like this is an issue accessing your private NPM repository before the Docker build actually takes place. Typically a build of this nature would have a step before the `Build & push Docker image` step where you run an `npm install` and `npm run build` to produce some sort of build directory that is referenced in your `Dockerfile`. Is there a reason you're skipping this st

[2022-05-19 19:46] nicktackes commented on #97
thanks for the reply.  I've been struggling with the security scoping within github actions and i understand what you are saying here.  I was doing an npm install inside the dockerfile so by moving that into the scope of the github action yml i was able to successfully npm install the private repo containing the private repo dependency.  thank you.

[2022-05-20 11:58] mr-smithers-excellent commented on #97
Ahh that makes sense. Glad I could help!

[2022-05-20 11:58] #97 closed

[2022-06-05 22:35] mr-smithers-excellent commented on #81
@erzz this has been added & merged into master. It will also be included in the next release, which I'll cut in the next few days. For now, you can test by using:
[code]

[2022-06-06 03:03] mr-smithers-excellent commented on #95
@BaekSeungYeol - this is available on `@master` if you wish to test before cutting the next release. Thanks for the feature request!

[2022-06-08 21:11] mr-smithers-excellent commented on #82
@simonmcnair - did a little further digging on this. It looks like [using environments for deployment](https://docs.github.com/en/actions/deployment/targeting-different-environments/using-environments-for-deployment) is only applicable for public repos or private Enterprise repos. Just curious which category you fall into, as I haven't leveraged this feature myself yet.

[2022-06-30 19:50] Antonytm opened #102 "Build Arguments stop to pass into Dockerfile"
My Github action:

[code]

It does work 4 months ago. But now it stopped.
Was anything changed in the way how arguments should be passed?

Link to the build:
https://github.com/Antonytm/Dianoga/runs/7138369191?check_suite_focus=true

[2022-06-30 19:57] mr-smithers-excellent commented on #102
Hi @Antonytm - nothing has changed with the 5.6 release. It looks like this error is actually an issue with a build step within your Dockerfile. Have you tried this same docker build locally?

[2022-06-30 21:12] Antonytm commented on #102
I made a fork from this repository:
And run 2 tests with passing build arguments:

**Windows:**

https://github.com/Antonytm/docker-build-push/runs/7139620913?check_suite_focus=true

Windows locally:
[code]

**Linux:**
https://github.com/Antonytm/docker-build-push/runs/7139449917?check_suite_focus=true

Linux locally:
[code]

**Actual result:**
Echo of build argument works locally for both platfor

[2022-07-03 13:26] Antonytm commented on #102
Hi @mr-smithers-excellent

Sorry for the false alarm, there is no issue with [docker-build-push](https://github.com/mr-smithers-excellent/docker-build-push).

I wrote Github Docker build action without usage `docker-build-push` and got the same behavior.

I started to look deeper and found the root of the issue. Github actions behave differently depending on where you run them. (`jobs>build>run-on

[2022-07-03 13:26] #102 closed

[2022-07-08 14:34] peterbandi opened #103 "Add option to build only without push"
It would be nice to have an option to just build an image to see if the Dockerfile is correct without pushing the result. For example with pull requests one would like to know if the proposed Dockerfile builds, but the resulting image should not be pushed to a docker repository. Please add an input of boolean type to control the pushing of the built image.

[2022-07-09 20:36] mr-smithers-excellent commented on #103
Hi @peterbandi - thanks for the feature request. I can consider adding a flag such as `pushImage` that would be set to true by default for backwards compatibility.

[2022-07-10 08:25] peterbandi commented on #103
That would be perfect.

[2022-08-12 08:00] scolastico commented on #103
I agree to that.

[2022-08-19 16:50] justinmchase commented on #103
I came here to ask for this same thing :)

[2022-08-23 15:11] erzz commented on #81
Hey after a couple of months vacation - tested and working great (for my chmod context anyway)

[2022-08-27 10:47] diepes opened #106 "Remove Docker credentials on action completion"
Used the action for the first time, and it worked without issues.

I see this warning regarding the password, and a link to some vague documentation about using a keyring to fix it.

Is this warning expected ?
Is there a way to fix/improve secret management ?

From Action log's
[code]

[2022-09-05 05:22] aceberg opened #107 "Add multi-platform support"
I tried to add `platform: linux/amd64,linux/arm/v7,linux/arm64`, but got only amd64 build.
Github Actions says this:

`Unexpected input(s) 'platform', valid inputs are ['image', 'tags', 'registry', 'dockerfile', 'directory', 'buildArgs', 'labels', 'target', 'username', 'password', 'gitHubOrg', 'addLatest', 'addTimestamp']`

My workflow: [https://github.com/aceberg/go-LinkSaver/blob/main/.github/wo

[2022-09-08 09:49] diepes opened #108 "platform setting ignored"
Running
[code]
using "act" to run the action local on Mac m1.

The image built , using docker image inspect still show's arm64
[code]

Even if i specify invalid string for ```platfom: xyz``` the build still proceeds.

Is there a way to see more debug output ?

[2022-09-08 10:01] diepes commented on #108
I think i found a solution.
Updated the Docker file from
[code]
to
[code]

Not sure if the "platform:" flag passed to the docker build get's ignored, but now on my Mac, if inspect the image build with **act + github + mr-smithers-excellent/docker-build-push@v5** the platform is correct.
The build is noticeably slower :(

[code]

[2022-09-08 10:01] #108 closed

[2022-09-09 06:56] mr-smithers-excellent commented on #106
Hi @diepes - thanks for bringing this up. I'm happy to investigate some security improvements here. Open to any suggestions you may have.

[2022-09-09 07:02] mr-smithers-excellent commented on #107
@aceberg - thanks for raising an issue. The `platform` input isn't yet available in a release. Can you try pointing to `@master` instead? That should do the trick.

I should also be able to push out a release this weekend to make this more stable.

[2022-09-09 08:18] aceberg commented on #107
@mr-smithers-excellent , thank you! That worked.
But only for a single platform (for example `platform: linux/arm64`)
If the platform is set to `platform: linux/amd64,linux/arm/v7,linux/arm64` the build will fail with this error:
[code]

As I understand, the problem is that the action doesn't use buildx, because on my desktop I can run `docker buildx build --platform linux/amd64,linux/arm/v7 -t ac

[2022-09-10 21:21] mr-smithers-excellent commented on #107
Ahh, ok. I will need to do a bit of due diligence here to see what other changes would be necessary to migrate to `buildx`. Based on some initial research it should be fully backward compatible with `docker build`. I'll consider this as a feature request to migrate to `buildx` and prioritize accordingly.

[2022-09-14 22:11] mr-smithers-excellent commented on #82
@simonmcnair - thanks again for bringing this up. I've added some best practices about storing secrets in the [README](https://github.com/mr-smithers-excellent/docker-build-push#storing-secrets).

[2022-09-14 22:11] #82 closed

[2022-09-14 22:17] mr-smithers-excellent commented on #81
@erzz - this is available on both master as well as the [latest release](https://github.com/mr-smithers-excellent/docker-build-push/releases/tag/v5.7), which you can reference:

`- uses: mr-smithers-excellent/docker-build-push@v5`
or
`- uses: mr-smithers-excellent/docker-build-push@v5.7`

Thanks again for the feature request!

[2022-09-14 22:17] #81 closed

[2022-09-14 22:17] mr-smithers-excellent commented on #95
@BaekSeungYeol - this is available on both master as well as the [latest release](https://github.com/mr-smithers-excellent/docker-build-push/releases/tag/v5.7), which you can reference:

`- uses: mr-smithers-excellent/docker-build-push@v5`
or
`- uses: mr-smithers-excellent/docker-build-push@v5.7`

Thanks again for the feature request!

[2022-09-14 22:17] #95 closed

[2022-09-14 22:19] mr-smithers-excellent commented on #75
@Udomomo - this should be an available auth mechanism using this action as detailed above. Be sure you are referencing the latest version using the below syntax. Feel free to re-open this issue if you have further problems.

`- uses: mr-smithers-excellent/docker-build-push@v5`
or
`- uses: mr-smithers-excellent/docker-build-push@v5.7`

[2022-09-14 22:19] #75 closed

[2022-09-14 22:30] mr-smithers-excellent commented on #103
Well then, I must give the people what they want! Will get started on this feature right away.

[2022-09-15 04:43] mr-smithers-excellent commented on #103
@peterbandi @scolastico @justinmchase - I have added this feature in [a branch](https://github.com/mr-smithers-excellent/docker-build-push/tree/feat/push-flag).

Can one of you please give this a try using the following workflow settings and let me know if it achieves the intended functionality?

[code]

[2022-09-15 04:55] mr-smithers-excellent commented on #106
@diepes - it appears the [Docker team has solved for this issue](https://github.com/docker/build-push-action/issues/53) by performing a `docker logout` action by default at the conclusion of the action. This will effectively wipe the credentials from the `config.json` file and seems like a sound security best practice for this action.

[2022-09-15 05:05] mr-smithers-excellent commented on #107
@aceberg - looks like you've migrated to the official Docker action in your workflow, can I assume this is no longer necessary then?

[2022-09-15 13:32] aceberg commented on #107
@mr-smithers-excellent - yeah, thank you! Though I find your Action more convenient, it's easier to support multiplatform on official Docker Action for now

[2022-09-15 17:27] mr-smithers-excellent commented on #107
Appreciate the kind feedback! Always open to any suggestions for improvement. Closing this for now. Thanks again!

[2022-09-16 06:38] justinmchase commented on #103
Do you need a registry/username/password if you're not going to push?

[2022-09-20 19:06] diepes commented on #106
Great, thanks for investigating the warning.

[2022-09-20 19:06] #106 closed

[2022-09-20 22:05] mr-smithers-excellent commented on #103
@justinmchase - username/password no, registry is still prefixed to the image name currently.

[2022-09-20 22:07] scolastico commented on #103
Nice job, ty! 👍🏻

[2022-09-20 22:12] scolastico commented on #103
Also btw did you thought about changing the `registry` default value to `ghcr.io`? Because this is the most used value on gh.

[2022-10-05 11:58] peterbandi commented on #103
@mr-smithers-excellent Sorry for the late reply. We had a deadline. It works as intended. I can prevent image pushing with `pushImage: false` while the built image is pushed to the docker repository with `pushImage: true` or by leaving out the `pushImage` option.

[2022-10-06 04:53] mr-smithers-excellent commented on #103
Excellent! This feature is now available in the `v5` and `v5.8` releases.

[2022-10-06 04:53] #103 closed

[2022-10-11 07:38] simonmcnair commented on #82
In my opinion only api keys should be in env vars as they can be echo'd out i believe/suspect (guessing).  Username and pw are proper secrets.  This means that you MUST specify environment in your github action.  By default it is set to production but could easily be qa/preprod/dev etc. And it would use the appropriate secret for that environment.SimonOn 13 Mar 2022 20:54, Sean Smith ***@***.***>

[2022-10-11 07:52] SimonMcN commented on #82
an api key can sometimes be specified in the password field.

But yes, api keys are infinitely better than passwords.

With regard to echoing things out, you need to trust that the worker
prevents that, otherwise the only option is to host your own runner I guess
?

On Tue, 11 Oct 2022, 08:38 simonmcnair, ***@***.***> wrote:

[2022-10-22 06:57] kotikoB opened #112 "Set output warning when running this action"
<img width="1029" alt="Screenshot 2022-10-22 at 09 56 49" src="https://user-images.githubusercontent.com/31103322/197325221-3bafaf46-9bc6-4f90-b28e-dc2d1784009b.png">

[2022-10-23 23:29] mr-smithers-excellent commented on #112
Hi @kotikoB. Thanks for bringing this to my attention. I'm not yet sure if these are commands I'm using directly or if they are pulled from dependencies. In any event, I'll get a solution for this merged before the deprecation date of May 31, 2023. Here's more info:

https://github.blog/changelog/2022-10-11-github-actions-deprecating-save-state-and-set-output-commands/

[2022-10-25 19:35] erzz commented on #112
+1 for the issue as I came here to write the same thing

To be honest, looking at your source, its seems a problem with the core github package as far as I can tell as you aren't doing anything more than `core.setOutput(...);` 🤷🏻

But I see they have released a new version https://github.com/actions/toolkit/releases/tag/%40actions%2Fcore%401.1.0

[2022-10-26 05:15] mr-smithers-excellent commented on #112
Super helpful! I did some digging myself and couldn't see anything obvious aside from upgrading `@actions/core`.

It seems odd they would publish deprecation warnings without an immediate solution in their own libraries. I'll watch that issue and see if anybody from the GH team chimes in.

[2022-10-27 14:57] kotikoB commented on #112
Thank guys, waiting to try the fix once the PR is merged.

[2022-10-30 20:56] mr-smithers-excellent commented on #112
@erzz - now that I look at the nightly e2e tests, it looks like this actually is resolved. Can you give this a try on your end using the `@master` branch?

[2022-10-31 07:45] erzz commented on #112
Morning @mr-smithers-excellent

Indeed the warnings are gone using @master! 🎉

One remains about node12 actions, but the set-outputs ones are no more

[2022-10-31 19:35] salamisodikiolawale opened #114 "Github action Error: Dockerfile does not exist in location Dockerfile"
i need to build and push my docker image on dockerHub but i'm getting error on path Dockerfile.
i had learn other ([Build Docker image using GitHub Actions: No such file or directory](https://stackoverflow.com/questions/69204872/build-docker-image-using-github-actions-no-such-file-or-directory)) but i don't understand how can resolve this error.

[code]

[code]
This an dockerfile for one service

[2022-10-31 19:44] mr-smithers-excellent commented on #114
Hi @salamisodikiolawale - are you attempting to build a Docker image for each microservice here? If so, you may need to utilize a matrix or repeat the action for each image you want to build. There is a `dockerfile` and `directory` input that you can utilize for this action as well. This action defaults to a `Dockerfile` in the root project directory unless otherwise specified. Hope this helps.

[2022-10-31 19:55] salamisodikiolawale commented on #114
@mr-smithers-excellent, Yes I repeated the action for each image of my microservices but I have the same problem.

[code]

[2022-10-31 20:06] mr-smithers-excellent commented on #114
Try adding the `directory` input and set it to the same directory you're setting in `working-directory`

[2022-10-31 20:14] salamisodikiolawale commented on #114
I had try directory with AuthService but it same error

[code]

[2022-10-31 20:22] mr-smithers-excellent commented on #114
Hmmm ok. Perhaps remove `directory` and replace `dockerfile` with:

`dockerfile: microservices/AuthService/Dockerfile`

[2022-10-31 21:20] salamisodikiolawale commented on #114
I have other error
[code]
[code]

[2022-11-01 17:47] mr-smithers-excellent commented on #114
That's a local issue. Either your `package.json` is missing or is in your `.dockerignore` file. Looks like this action is now recognizing your Dockerfile and initiating the docker build, so I'll close this issue.

[2022-11-01 17:47] #114 closed

[2022-11-01 17:54] mr-smithers-excellent commented on #112
Thanks, @erzz! I'll close ticket issue then and get that other warnings cleared out.

[2022-11-01 17:54] #112 closed

[2022-11-01 19:25] salamisodikiolawale commented on #114
Yes, thank you for your help.

[2022-11-22 06:11] MykalMachon commented on #107
Hi @mr-smithers-excellent,
**I was wondering if the multi-platform support mentioned in this thread ever made it into the main branch.**

I'm trying to put in a PR for [Umami: an open-source GA alternative](https://github.com/umami-software/umami) to add support for ARM builds. They're [using this action as a CI step to publish their docker images](https://github.com/umami-software/umami/blob/mast